{% extends 'AdminPanelLayout.html' %}


{% block content %}

    <div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim slide">
      <form  method="POST">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
       <textarea class="form-control" name="altbaslik"  rows="2" style="width:100%">{{ veri[0] }}</textarea>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
       <textarea class="form-control" name="altbaslik" id="exampleFormControlTextarea1" rows="2" style="width:100%">{{ veri[1] }}</textarea>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
       <textarea class="form-control" name="altbaslik" id="exampleFormControlTextarea1" rows="2" style="width:100%">{{ veri[2] }}</textarea>
    </div>
  </div>
  <br><br>
  <div class="row slideanim slide">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
       <textarea class="form-control" name="altbaslik" id="exampleFormControlTextarea1" rows="2" style="width:100%">{{ veri[3] }}</textarea>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
       <textarea class="form-control" name="altbaslik" id="exampleFormControlTextarea1" rows="2" style="width:100%">{{ veri[4] }}</textarea>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <textarea class="form-control" name="altbaslik" id="exampleFormControlTextarea1" rows="2" style="width:100%">{{ veri[5] }}</textarea>
    </div>

  </div>
     </form>
</div>





{% endblock %}