{% extends 'Layout.html' %}

{% block content %}
    <div class="conteiner" >
<div class="jumbotron text-center">
  <h1>Company</h1>
  <p>We specialize in blablabla</p>
  <form class="form-inline" method="POST">
    <div class="input-group">
      <input type="email" name="mail" class="form-control" size="50" placeholder="Email Address" required="">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-danger">ABONE OL</button>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}

